body {
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #DCEDC8;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #388E3C;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #eff3ec;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(241, 241, 241);
    margin-top: 0;
    margin-bottom: 0;
    line-height: .20;
  }

  #nav-list {
    margin-top: 2px;
  }

  #nav-list a {
    color: #eff3ec;
    text-align: center;
  }

  #nav-list a:hover {
    background: #4CAF50;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #212121;
  }
  
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
  }
  /** HEADER **/

  #menutext{
    margin-bottom: 15px;
    margin-top: 20px;
    color: #757575;
    
  }